{% extends 'main/base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1>Command Log</h1>

<table class="table table-striped table-responsive"">
    <thead>
      <tr>
        <th>ID</th>
        <th>Command</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.command_id }}</td>
          <td>{{ row.command }}</td>
          <td>{{ row.command_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}