{% extends 'main/base.html' %}

{% block title %}
Help Page
{% endblock %}

{% block content %}
<h1>Help Page</h1>

<table>
    <tr>
        <th>first command</th>
        <td>explanation of command</td>
    </tr>
    <tr>
        <th>second command</th>
        <td>explanation of command</td>
    </tr>
    <tr>
        <th>third command</th>
        <td>explanation of command</td>
    </tr>
    <tr>
        <th>fourth command</th>
        <td>explanation of command</td>
    </tr>
</table>
{% endblock %}