{% extends 'main/base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'jquery-3.5.1.slim.min.js' %}" crossorigin="anonymous"></script>
<div class="container">
  <div class="jumbotron" id="jumbo">
      {% load static %}
      <img class="mx-auto d-block img-fluid unlock-icon" src="{% static 'example.jpg' %}" style="height:290px;width:250px;" alt="QQVA Logo"/>
    <h1 class="text-center">QQVA</h1>
    <div class="text-center">      
      <div class="alert alert-primary" role="alert">
        Keep the button pressed down as you issue the command
      </div>
      <a>Status: <a id="status">Connection status will go here</a></a>
      <p id="transcript"></p>
      <a id="captureAudio" class="btn btn-primary">Capture Microphone</a>
      <p id="captureMsg" style="display: none;">Audio capture has started</p>
      <div class="spinner" id="spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

  .spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .jumbotron.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .logo {
    /* border: 3px solid; */
    width: fit-content;
    position: relative;
    left: 0%;
  }
</style>

<script>
  (async () => {
  const spinner = document.getElementById('spinner');
  const jumbotron = document.getElementById('jumbo');

  const mediaStream = await navigator.mediaDevices.getUserMedia({ audio: true });
  const mediaRecorder = new MediaRecorder(mediaStream);
  let recordedChunks = [];
  const socket = new WebSocket('ws://localhost:8000/listen')
  
  socket.onopen = () => {
    document.querySelector('#status').textContent = 'Connected'
    console.log({ event: 'onopen' })
    mediaRecorder.addEventListener('dataavailable', async (event) => {
      if (event.data.size > 0 && socket.readyState == 1) {
          //socket.send(event.data)
          recordedChunks.push(event.data);
      }
    })
  }
  
  
  
    $(document).ready(function() {
      $("#captureAudio").mousedown(function() {
        recordedChunks = [];
        console.log("startAudioCapture");
        mediaRecorder.start();
        $("#captureMsg").show();
      });
      $("#captureAudio").mouseup(function() {
        console.log("stopAudioCapture");
        mediaRecorder.stop();
        $("#captureMsg").hide();
      });

      $("#captureAudio").bind('touchstart', function(){
        recordedChunks = [];
        console.log("startAudioCapture");
        mediaRecorder.start();
        $("#captureMsg").show();
      }).bind('touchend', function(){
        console.log("stopAudioCapture");
        mediaRecorder.stop();
        $("#captureMsg").hide();
      });
    });
  
  socket.onmessage = (message) => {
    const received = message.data
    if (received) {
        console.log(received)
        document.querySelector('#transcript').textContent = "Command sent: " +received
        spinner.style.display = 'none';
        jumbotron.classList.remove('disabled');
    }
  }
  
  socket.onclose = () => {
    console.log({ event: 'onclose' })
  }
  
  socket.onerror = (error) => {
      console.log({ event: 'onerror', error })
  }
  
  mediaRecorder.addEventListener('stop', () => {
  console.log("Sending data")
  const recordedBlob = new Blob(recordedChunks, { type: 'audio/webm' });
  console.log(recordedBlob)
  spinner.style.display = 'block';
  jumbotron.classList.add('disabled');
  socket.send(recordedBlob)
  
  });
  
  
  })();
  </script>
{% endblock %}